body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}
.orenge {
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
}
.btn-primary {
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
/*===============
 headers related 
 ================*/
 .headers {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
 }
 .banner-content {
    max-width: 585px;
 }
 .banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .banner-greeting {
    color:#474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
 }
 .banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
 }
 .banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
 }
 .banner-pictur {
    width: 584px;
    height: 676px;
 }
 /* ===============
 main about section
 ================== */
 main {
    max-width: 1140px;
    margin: 0 auto;
 }
 main section {
    margin-top: 130px;
 }
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}
.section-totle {
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    /* display: flex; */
    width: 827px;
    /* flex-direction: column; */
    /* flex-shrink: 0; */
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
/* =============
what i do section start
===================== */
#what-i-do-description {
    padding: 30px 150px;
}
/* ===============
skill related start
===================== */
.skills-container {
    display: flex;
    gap: 20px;
}
.skilli {
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skilli-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.skill-description {
    color:#757575;
    font-size: 16px;
    font-weight: 400;
}
/* ====================
resume section start
=======================*/
.resume-containet {
    display: flex;
    justify-content: space-evenly;
    gap: 71px;
}
.resume-containet hr {
    margin: 30px 0;
    width: 558px;
    height: 1px;
    color: rgba(0, 0, 0, .7 #D1D1D1);
}
.resume-colum {
    max-width: 511px;
}
.resume-colum-title {
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-info {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}
.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}
/* =============
footer
================ */
footer {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding-left: 150px;
    padding-right: 230px;
    margin-top: 100px;
}
.section-title {
    color: #181818;
    /* text-align: center; */
    font-size: 35px;
    font-weight: 700;
}
.footer-colum {
    width: 50%;
}
.section-description {
    width: 110%;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}
.social-links a {
    margin-right: 24px;
}
.contact input[type="text"], input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    order: 0;
    width: 100%;
}